.container{
width: 100%;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;


}
header{
	background-color: black;
	width: 100%
	height:50%;

}


nav a{

	text-decoration: none;
	color:white;
	margin-left: 30%;
	
	margin-top: 50%;
	margin-right: 30%;


}

li{

	font-color:white;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-left: 70px;
	margin-bottom: 50px;
	margin-top: 20px;
}

section{
	border-color: grey;
	background-color: white;
	height: 40%;
	width: 100%;
	text-align: center;

}

h3{
	margin-left:20px;
	width: 20%;
	display: inline-block;
	color: black;
}

h6{

	display: inline-block;
	color: blue;
	margin-right:90px;
}

.episodes{

	background-color: grey;
	
}

.foto{
	float: left;
	margin-left:2px;

}


 .icono{
 	width: 10px;
 	height: 10px;
 	margin-top:10px;
 }

h6{
	color: blue;
}

.fotito1{
	
	float: left;
	margin: 5px;
	border:1px solid white;

	

	
}

.fotito2{
	
	float: left;
	margin: 0 auto;
	border:1px solid white;
	
}
.fotito3{
	
	float: left;
	margin: 0 auto;
	border:1px solid white;
	}
.fotito4{
	
	float: left;
	margin: 0 auto;
	border:1px solid white;
	
}
.fotito5{
	
	float: left;
	margin: 0 auto;
	border:1px solid white;
}
.fotito6{
	float: left;
	margin: 0 auto;
	border:1px solid white;
	
}
.fotito7{
	
	float: left;
	margin: 0 auto;
	border:1px solid white;
}

a{
	color:blue;
}
hr{
	color: blue;
}

footer{
	text-align: center;
	background-color: grey;
	color: white;
}